<h3>Hey! Log in required: </h3>

<form action="/login" method="post">
    <input name="username" id="username" type="text" placeholder="Insert Username"/>
    <input name="password" id="password" type="password" placeholder="Insert Password"/>
    <input type="submit" />
</form>